
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(4, 117, 160 );
    text-align: center;
    padding: 20px;
  }
  
  #navbar nav a {
    color: white;
    display: inline-block; 
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    transition: transform 0.3s ease; 
    transform-origin: center; 
  }
  
  #navbar nav a:hover {
    color: gray;
    transform: scale(1.2); 
  }
  
  #welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(31, 180, 236);
    color: rgb(255,255,255);
    font-size: 40px; 
  }
  
  /* Projects section styling */
  #projects {
    padding: 50px; 
    width: 100%;
    background-color: rgb(4, 117, 160 );
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
  }
  
  h2{
    text-align: center;
    color: white; 
    padding: 20px 0; 
  }
  
  ul{
    color:white; 
    list-style-position: inside;
    text-align: center;
  }
  
  li{
    margin: 20px auto;
  }
  
  .project-tile, .project-tile2{
    color: white; 
    display: inline-block; 
    text-decoration: none; 
    transition: transform .3s ease; 
  }
  
  .project-tile:hover, .project-tile2:hover{
    color: gray; 
    transform: scale(1.08); 
  }
  
  hr{
    border: 2px solid white; 
  }
  
  #contact{
    background-color: rgb(4, 117, 160);
    width: 100%; 
    height: 20vh;  
    margin: 0; 
    padding-top: 40px; 
  }
  
  h3{
    display: flex; 
    justify-content: center; 
    font-size: 30px; 
    color: white; 
  }
  
  .contact-email{
    display: flex; 
    justify-content: center; 
    align-content: center; 
    padding-top: 10px; 
  }
  
  
  
  
  /* Media query example */
  @media (max-width: 750px) {
    #navbar nav a  {
      font-size: 14px;
    }
  
  h1{
    font-size: 30px;
  }
   #projects{
     display: grid; 
     grid-template-columns: 1fr 1fr; 
     text-align: center;  
   }
  
   #projects article{
     margin-bottom: 40px; 
   }
  }
  
  @media (max-width: 400px) {
  
  h1{
    font-size: 20px;
  }
  
   #projects{
     display: grid; 
     grid-template-columns: 1fr; 
     text-align: center;  
   }
  
   #projects article{
     margin-bottom: 40px; 
   }
  }
  
  @media (max-width: 340px) {
  
    #navbar nav{
      display: flex; 
      flex-direction: column; 
      margin: 0 auto; 
    }
  
    #navbar nav a{
      margin: 15px 0; 
      font-size: 18px;
    }
  
    h1{
      padding-top: 50%; 
      font-size: 20px;
      text-align: center; 
    }
  
    #projects{ 
      width: 100%; 
    }
  
    #projects article{
      text-align: center; 
    }
  
    #contact h3{
      font-size: 20px;
    }
  
    .contact-email{
      font-size: 13px;
    }
  }
  
  @media (max-width: 200px){
  
    #navbar nav a{
      font-size: 15px; 
    }
  
    #projects{
      padding-left: 0; 
    }
  }